#nav-container {
    display: grid;
    border: 1px;
    border-style: solid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 2rem;

    .nav-color-button {
        border-left: 1px solid black;
        border-right: 1px solid black;
        font-size: large;

        &:hover {
                cursor: pointer;
                opacity: 75%;
            }
    }
}